/* /////// BUTTON /////// */
input[type="submit"],button {padding: 8px 25px; border-radius: 50px; cursor: pointer; font-size: 1.2rem;}
input[type="submit"]:hover,button:hover {padding: 0 25px; font-size: 1.4rem; background: transparent;}
.bdr6px{border-radius: 6px;}
.bdr12px{border-radius: 12px;}
.bdr50px{border-radius: 50px;}
.bdr50%{border-radius: 50%;}
.noborder {border: none;}
.transparent {background: transparent;}
.whiteshadow {box-shadow: 0 0 4px white;}
.blackshadow {box-shadow: 0 0 4px black;}
.redshadow {box-shadow: 0 0 4px red;}
.limeshadow {box-shadow: 0 0 4px lime;}
.greenshadow {box-shadow: 0 0 4px green;}
.blueshadow {box-shadow: 0 0 4px blue;}
.pinkshadow {box-shadow: 0 0 4px pink;}
.yellowshadow {box-shadow: 0 0 4px yellow;}
.bdrred{border:1px solid red;}
.bdrwhite{border:1px solid white;}
.bdrblack{border:1px solid black;}
.bdrblue{border:1px solid blue;}
.bdrgreen{border:1px solid green;}
.bdrlime{border:1px solid lime;}
/*///////////////////////////*/
