/* /////// BUTTON /////// */
button,input[type="submit"] {padding: 5px 10px; font-size: 1.3em; background: #17b978; border: 2px solid #17b978; border-radius: 6px; margin:20px 15px; text-transform: uppercase;}
  button:hover,input[type="submit"]:hover {background: transparent; color: #17b978; box-shadow: 4px 4px  #000,  6px 6px #17b978, -4px -4px #000, -6px -6px #17b978;}
.bdr6px{border-radius: 6px;}
.bdr12px{border-radius: 12px;}
.bdr50px{border-radius: 50px;}
.bdr50%{border-radius: 50%;}
.noborder {border: none;}
.transparent {background: transparent;}
.whiteshadow {box-shadow: 1px 1px 4px white,1px -1px 4px white,-1px 1px 4px white,-1px -1px 4px white;}
.blackshadow {box-shadow: 1px 1px 4px black,1px -1px 4px black,-1px 1px 4px black,-1px -1px 4px black;}
.redshadow {box-shadow: 1px 1px 4px red,1px -1px 4px red,-1px 1px 4px red,-1px -1px 4px red;}
.limeshadow {box-shadow: 1px 1px 4px lime,1px -1px 4px lime,-1px 1px 4px lime,-1px -1px 4px lime;}
.greenshadow {box-shadow: 1px 1px 4px green,1px -1px 4px green,-1px 1px 4px green,-1px -1px 4px green;}
.blueshadow {box-shadow: 1px 1px 4px blue,1px -1px 4px blue,-1px 1px 4px blue,-1px -1px 4px blue;}
.pinkshadow {box-shadow: 1px 1px 4px pink,1px -1px 4px pink,-1px 1px 4px pink,-1px -1px 4px pink;}
.yellowshadow {box-shadow: 1px 1px 4px yellow,1px -1px 4px yellow,-1px 1px 4px yellow,-1px -1px 4px yellow;}
.bdrred{border:1px solid red;}
.bdrred2{border:2px solid red;}
.bdrwhite{border:1px solid white;}
.bdrwhite2{border:2px solid white;}
.bdrblack{border:1px solid black;}
.bdrblack2{border:2px solid black;}
.bdrblue{border:1px solid blue;}
.bdrblue2{border:2px solid blue;}
.bdrgreen{border:1px solid green;}
.bdrgreen2{border:2px solid green;}
.bdrlime{border:1px solid lime;}
.bdrlime2{border:2px solid lime;}
/*///////////////////////////*/
