/* /// BACKGROUND : linear-gradient(); /// */

.sexyblue {background: linear-gradient(to right, #2193b0, #6dd5ed);}
.piglet {background: linear-gradient(to right, #ee9ca7, #ffdde1);}
.shades {background: linear-gradient(to right, #bdc3c7, #2c3e50);}
.memory {background: linear-gradient(to right, #de6262, #ffb88c);}
.social {background: linear-gradient(to right, #06beb6, #48b1bf);}
.cherry {background: linear-gradient(to right, #eb3349, #f45c43);}
.winter {background: linear-gradient(to right, #a1c4fd, #c2e9f6);}
.tripper {background: linear-gradient(to right, #ff5858, #f857a6);}
.rain {background: linear-gradient(to right, #cfd9df, #e2ebf0);}
.beach {background: linear-gradient(to right, #02aab0, #00cdac);}
.virgin {background: linear-gradient(to right, #7b4397, #dc2430);}
.bloody {background: linear-gradient(to right, #ff512f, #dd2476);}
.bourbon {background: linear-gradient(to right, #ec6f66, #f3a183);}
.morning {background: linear-gradient(to right, #ff5f6d, #ffc371);}
.sky {background: linear-gradient(to right, #36d1dc, #5b86e5);}
.peach {background: linear-gradient(to right, #ed4264, #ffedbc);}
.sunburn {background: linear-gradient(to right, #ff9966, #ff5c62);}

/*/////////////////////////////////////////*/
