/* /// BACKGROUND : linear-gradient(); /// */


.roseanna {background: linear-gradient(to right, #ffafbd, #ffc3a0);}
.sexyblue {background: linear-gradient(to right, #2193b0, #6dd5ed);}
.piglet {background: linear-gradient(to right, #ee9ca7, #ffdde1);}
.mauve {background: linear-gradient(to right, #42275a, #734b6d);}
.shades {background: linear-gradient(to right, #bdc3c7, #2c3e50);}
.memory {background: linear-gradient(to right, #de6262, #ffb88c);}
.social {background: linear-gradient(to right, #06beb6, #48b1bf);}
.cherry {background: linear-gradient(to right, #eb3349, #f45c43);}
.pinky {background: linear-gradient(to right, #dd5e89, #f7bb97);}
.winter {background: linear-gradient(to right, #a1c4fd, #c2e9f6);}
.tripper {background: linear-gradient(to right, #ff5858, #f857a6);}
.rain {background: linear-gradient(to right, #cfd9df, #e2ebf0);}
.tranquil {background: linear-gradient(to right, #eecda3, #ef629f);}
.wood {background: linear-gradient(to right, #eacda3, #d6ae7b);}
.beach {background: linear-gradient(to right, #02aab0, #00cdac);}
.shalala {background: linear-gradient(to right, #d66d75, #e29587);}
.frost {background: linear-gradient(to right, #000428, #004e92);}
.almost {background: linear-gradient(to right, #ddd6f3, #faaca8);}
.virgin {background: linear-gradient(to right, #7b4397, #dc2430);}
.endless {background: linear-gradient(to right, #43cea2, #185a9b);}
.bloody {background: linear-gradient(to right, #ff512f, #dd2476);}
.feellove {background: linear-gradient(to right, #4568dc, #b06ab3);}
.bourbon {background: linear-gradient(to right, #ec6f66, #f3a183);}
.morning {background: linear-gradient(to right, #ff5f6d, #ffc371);}
.sky {background: linear-gradient(to right, #36d1dc, #5b86e5);}
.celestial {background: linear-gradient(to right, #c33764, #1d2671);}
.peach {background: linear-gradient(to right, #ed4264, #ffedbc);}
.sunburn {background: linear-gradient(to right, #ff9966, #ff5c62);}
.evening {background: linear-gradient(to right, #aa076b, #61045f);}

/*/////////////////////////////////////////*/
