*{margin: 0; padding: 0;}
body {font-size: 15pt; height: 100vh; width: 100%;}

/* //// TEXT STYLE //// */
.i,.em {font-style: italic;}
.bold,.strong {font-weight: bold;}
.u {text-decoration: underline;}
.mark {background: aquamarine;}
.del,.strike {text-decoration: line-through;}
a {color: green; cursor: pointer;}
a:hover {color: lime;}
.center {display: flex; flex-direction: column; align-items: center; justify-content: center;}
.small {font-size: smaller;}
.big {font-size: larger;}
/* //////////////////// */

/* //// TEXT COLOR //// */

.white {color: white;}
.black {color: black;}
.blue {color: blue;}
.red {color: red;}
.pink,.deeppink {color: deeppink;}
.green {color: green;}
.yellow {color: yellow;}
.crimson {color: crimson;}
.purple {color: purple;}
.lime {color: lime;}
.navy {color: navy;}
.orange {color: orange;}
.tomato {color: tomato;}
.indigo {color: indigo}
.violet {color: violet}

/*///////////////////*/
