@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{margin: 0; padding: 0;}
body {font-size: 15pt; height: 100vh; width: 100%; font-family: 'Ubuntu', sans-serif;}

/* //// TEXT STYLE //// */
.i,.italic,.em {font-style: italic;}
.b,.bold,.strong {font-weight: bold;}
.u,.underline {text-decoration: underline;}
.mark,mark {display: inline-block; background: blue; color: yellow;}
.del,.strike {text-decoration: line-through;}
.small {font-size: smaller;}
.big {font-size: larger;}
.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}
.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}
.justify {text-align: justify;}
.scrollable {overflow: auto;}
.newspaper {column-count: 2;} .newspaper2 {column-count: 3;}
.quote {background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)); backdrop-filter: blur(6px); width: 80%; padding: 10px 30px 30px 20px; margin: 2% auto; border-radius: 0 12px 12px 0;}
.quote::before {content: ""; height: 100%; width: 2%; background: deeppink; position: absolute; top: 0; left: 0; }
.quote .heading {color:#17b978; display: block; margin: 1px auto; font-size: 1.6em; text-transform: capitalize; }
.quote .name{ color : #1e90ff; display:block; text-transform:capitalize; position: absolute; right:0; margin: 3px 20px; font-style:italic;}
/* //////////////////// */

/* //// TEXT COLOR //// */

.white {color: white;}
.black {color: black;}
.blue {color: #1e90ff}
.red {color: red;}
.pink,.deeppink {color: deeppink;}
.green {color: #17b978;}
.yellow {color: yellow;}
.orange {color: #ff4500;}
.gray {color: gray;}
.lime {color: lime;}
/*///////////////////*/
