@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{margin: 0; padding: 0;}
body {font-size: 15pt; height: 100vh; width: 100%; font-family: 'Ubuntu', sans-serif;}

/* //// TEXT STYLE //// */
.i,.italic,.em {font-style: italic;}
.b,.bold,.strong {font-weight: bold;}
.u,.underline {text-decoration: underline;}
.mark,mark {display: inline-block; background: blue; color: yellow;}
.del,.strike {text-decoration: line-through;}
.middle {display: flex; flex-direction: column; align-items: center; justify-content: center;}
.small {font-size: smaller;}
.big {font-size: larger;}
.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}
.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}
.justify {text-align: justify;}
.scrollable {overflow: auto;}
blockquote {background: #000; color:white; font-size: 1.3em; padding:5% 10%; text-align: justify; }
/* //////////////////// */

/* //// TEXT COLOR //// */

.white {color: white;}
.black {color: black;}
.blue {color: blue;}
.red {color: red;}
.pink,.deeppink {color: deeppink;}
.green {color: green;}
.yellow {color: yellow;}
.purple {color: purple;}
.lime {color: lime;}
.navy {color: navy;}
.orange {color: orange;}
.gray {color: gray;}
/*///////////////////*/
